---
import Images from "../components/Images.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  alt: string;
  colSpan?: 1 | 2 | 3;
}

const { title, description, image, alt, colSpan = 1 } = Astro.props;
const getColSpan = (colSpan: 1 | 2 | 3) => {
  const colSpanClasses = {
    1: "md:col-span-1",
    2: "md:col-span-2",
    3: "md:col-span-3",
  };

  return colSpanClasses[colSpan];
};
---

<div
  class={`bg-surface rounded-xl sm:rounded-3xl col-span-full ${getColSpan(colSpan)}`}
>
  <div class="p-[1rem_1.5rem_1.5rem_1.5rem] sm:px-9 sm:py-[1.625rem]">
    <h3 class="mb-3 text-2xl font-medium text-black sm:text-3xl md:mb-4">
      {title}
    </h3>
    <p>{description}</p>
  </div>
  <div
    class="mx-4 mb-4 flex items-center justify-center overflow-hidden rounded-xl"
  >
    <Images src={`${image}`} {alt} height={380} />
  </div>
</div>
